.app {
  width: 100vw;
  height: 100vh;
}

.audios-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audios {
  width: 80%;
  height: 80%;
}
