.app {
  width: 100vw;
  height: 100vh;
}

.audios-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audios {
  width: 80%;
  height: 80%;
  color: lightyellow;
}

.buttons-bar-container {
  text-align: center;
  margin-top: 7vh;
}

